
.welcome{
    width: 50%;
    padding: 20px;
    margin: 80px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.welcome img{
    padding-bottom: 70px;
}
.welcome h1{
    font-size: 35px;
    line-height: 200%;
    text-align: center;
}


.flex-container{
    display:flex;
}

.balloonsContainer{
    width: 50%;
    float: left;
 }
.pickup{
    width: 50%;
    bottom: 500px;
}
.pickup img:hover{
    transform: scale(1.1);

}

.orangeBalloon{
    position: absolute;
    top: 500px; left: 300px;
    margin: 100px auto
}
.orangeBalloon img{
    transform: rotate(-25deg);
}
.orangeBalloon:hover{
    transform: scale(1.1);
    z-index:2;
}

.beigeBalloon{
    position: absolute;
    top: 500px; left: 400px;
    margin: 50px auto
}
.beigeBalloon img{
    transform: rotate(-5deg);
}
.beigeBalloon:hover{
    transform: scale(1.1);
    z-index:2;
}

.lightBalloon{
    position: absolute;
    top: 500px; left: 515px;
    margin: 50px auto
}
.lightBalloon img{
    transform: rotate(5deg);
}
.lightBalloon:hover{
    transform: scale(1.1);
    z-index:2;
}

.darkBalloon{
    position: absolute;
    top: 500px; left: 595px;
    margin: 100px auto
}
.darkBalloon img{
    transform: rotate(25deg);
}
.darkBalloon:hover{
    transform: scale(1.1);
    z-index:2;
}


