.welcome{
    width: 50%;
    padding: 20px;
    margin: 80px auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.balloonsContainer{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.orangeBalloon{
    position: absolute;
    top: 500px; left: 600px;
    margin: 100px auto
}
.orangeBalloon img{
    transform: rotate(-25deg);
}
.orangeBalloon:hover{
    transform: scale(1.1);
    z-index:2;
}

.beigeBalloon{
    position: absolute;
    top: 500px; left: 700px;
    margin: 50px auto
}
.beigeBalloon img{
    transform: rotate(-5deg);
}
.beigeBalloon:hover{
    transform: scale(1.1);
    z-index:2;
}

.lightBalloon{
    position: absolute;
    top: 500px; left: 815px;
    margin: 50px auto
}
.lightBalloon img{
    transform: rotate(5deg);
}
.lightBalloon:hover{
    transform: scale(1.1);
    z-index:2;
}

.darkBalloon{
    position: absolute;
    top: 500px; left: 895px;
    margin: 100px auto
}
.darkBalloon img{
    transform: rotate(25deg);
}
.darkBalloon:hover{
    transform: scale(1.1);
    z-index:2;
}




